@import "../styles/colors";

.button-container {
    display: flex;
    gap: 2rem;

    button {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      border: 1px solid $bg-lighter;
      border-radius: .5rem;
      padding: .25rem;
      opacity: .5;
      cursor: pointer;

      &:hover {
        opacity: 1;
      }

      .icon {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }

