<footer>
  <p>Copyright 2022 by <a href="https://www.thedavidbeer.com" target="_blank">David Beer</a></p>
  <div class="social-container">
    <a href="https://www.facebook.com" target="_blank">
      <img src="assets/icons/facebook-icon.svg" alt="facebook icon">
    </a>
    <a href="https://www.twitter.com" target="_blank">
      <img src="assets/icons/twitter-icon.svg" alt="twitter icon">
    </a>
    <a href="https://www.github.com" target="_blank">
      <img src="assets/icons/github-icon.svg" alt="github icon">
    </a>
  </div>
</footer>

