<nav>
  <div class="topbar-left"><span class="logo-container">
      <a routerLink="/home">LOGO</a>
    </span>
    <ul>
      <li>
        <a class="nav-link" routerLink="/home" title="Home" routerLinkActive="active-page">Home</a>
      </li>
      <li>
        <a class="nav-link" routerLink="/dashboard" title="Dashboard" routerLinkActive="active-page">Dashboard</a>
      </li>
    </ul>
  </div>
  <div>
    <a class="nav-link" routerLink="/login" title="Dashboard" routerLinkActive="active-page">Login</a>
  </div>

</nav>
