<div class="signup-container">
  <div class="social-container">
    <p>Sign in with</p>
    <app-social-buttons></app-social-buttons>
  </div>

  <app-spacer text="Or"></app-spacer>

  <form class="form-container">
    <input type="text" placeholder="Full name" required>
    <input type="text" placeholder="Mobile number or email">
    <input type="password" placeholder="Password">
    <input type="submit" value="Create your account">
  </form>
  <hr>
  <small>By signing up, you agree to our <a routerLink="/terms" title="Terms">Terms</a>, <a routerLink="/data-policy" title="Data Policy">Data Policy</a> and <a routerLink="/cookies-policy" type="Cookies Policy">Cookies Policy</a>.</small>
</div>
